* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body.signup-page.dark-mode, .dark-mode.signup-page .page-wrap {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

body:not(.signup-page) {
  margin-top: calc(1.5rem + 105px);
}

body.dark-mode {
  background-color: #0D0D0D;
  color: #FFFFFF;
}

.signup-page .page-wrap {
  height: 100vh;
}

.dark-mode.signup-page .page-wrap .border-end {
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.signup-h1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
}
.dark-mode .signup-h1 {
  color: #FFFFFF;
}

.signup-h2{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.dark-mode .signup-h2 {
  color: #FFFFFF;
}

.signup-p{
  font-style: normal;
  width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.dark-mode .signup-p {
  color: rgba(255, 255, 255, 0.5);
}

.signup-img-dark{
  display: none;
}
.dark-mode .signup-img-dark {
  display: block;
}
.dark-mode .signup-img {
  display: none;
}

@media (min-width: 576px) {
  .signup-section {
    width: 80%;
    margin: auto;
  }
}

.signup-form {
  margin-bottom: 90px;
}

.main {
  padding-bottom: 86px;
}
@media (min-width: 768px) {
  .main {
      padding-bottom: .8rem;
  }
}

.signup-form input[type="text"], 
.signup-form input[type="email"], 
.signup-form input[type="password"],
.signup-form select {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  padding: 20px 18px;
}

.signup-form input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
  font-weight: 300;
  line-height: 17.07px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.dark-mode .signup-form input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.form-label{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.dark-mode .form-label {
  color: #FFFFFF;
}
::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.35);
}
.dark-mode ::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.signup-form .form-control{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.dark-mode .signup-form .form-control {
  background: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #FFFFFF;
}

.text-divider{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
  line-height: 0.1em;
  margin: 10px auto 20px;
}
.dark-mode .text-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.text-divider span{
  background:#fff; 
  padding:0 25px; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.dark-mode .text-divider span {
  background-color: #1E1E1E;
  color: rgba(255, 255, 255, 0.5);
}
.google-btn{
  padding: 10px;
  box-sizing: border-box;
  width: 374px;
  height: 50px;
  border: 1px solid #407BFF;
  border-radius: 50px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #000000 !important;
}
.google-btn:hover{
  background-color: #FFFFFF;
  color: #000000 !important;
}
.dark-mode .google-btn {
  color: #FFFFFF !important;
  border: 1px solid #5A8EFF;
}

.dark-mode .google-btn:hover {
  color: #FFFFFF !important;
  background-color: #1E1E1E;
}

.google-icon{
  height: 20px;
}
.signup-btn{
  padding: 12px;
  box-sizing: border-box;
  width: 374px;
  height: 50px;
  border-radius: 50px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}
.dark-mode .signup-btn {
  background: #5A8EFF;
}
.button-link{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

}
.dark-mode .button-link {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode .button-link .text-black {
  color: #FFFFFF !important;
}

.button-link a{
  text-decoration: none;
}
.navbar{
  background: #FEFEFE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  top: 0;
}
.dark-mode .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.search-form{
  width: 521px;
}
.search-inner-btn {
  position: absolute;
  /* left: 100px;
  top: 43px; */
  background: 0 0;
  font-size: 12px;
  border: 0;
  /* padding-left: 20px;
  padding-right: 13px; */
  padding: 0;
  width: 19px;
  height: 19px;
  left: 10px;
  top: 10px;
}
.search-field input {
  color: #86898e;
  font-size: 12px;
  height: 40px;
  width: 100%;
  padding-left: 50px;
  border: 0;
  padding-right: 15px;
  border: 0;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.dark-mode .search-field input {
  background-color: #0D0D0D;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.dark-mode .search-field input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.navbar-light{
  background-color: #FEFEFE;
}
.dark-mode .navbar {
  background-color: #0E0E0E;
  color: white;
}
.nav-item:not(.nav-item:last-child) {
  margin-right: 2rem;
}
.nav-item .nav-link{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.dark-mode .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.nav-item .nav-link img{
  display: block;
  /* padding-right: 25px; */
  margin: auto;
  height: 26px;
  margin-bottom: 3px;
}
.nav-item .nav-link img.icon-dark {
  display: none;
}
.dark-mode .nav-link img {
  display: none;
}

.dark-mode .nav-link img.icon-dark {
  display: block;
}
.nav-item .active{
  color: #407bff !important;
}
.dark-mode .nav-item .active {
  color: #5A8EFF !important;
}
.h1{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.dark-mode .h1 {
  color: #fff;
}
.box{
  /* margin: 15px; */
  width: 100%;
  height: 161px;
  background: #FFFFFF;
  box-shadow: 0px 4.94153px 24.7076px rgba(0, 0, 0, 0.08);
  border-radius: 9.88306px;
}
@media (min-width: 375px) {
  .box {
    width: 161px;
    height: 161px;
  }
}
@media (min-width: 388px) {
  .box {
    width: 177px;
    height: 147px;
  }
}
@media (min-width: 576px) {
  .box {
      width: 218.66px;
      height: 181.6px;
    }
}
.dark-mode .box {
  background: #101010;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0px 4.94153px 24.7076px rgba(0, 0, 0, 0.08);
  color: #fff;
}
.news-img{
  /* padding: 15px; */
  /* height: 100px;
  width: 132px; */
  margin-right: 2rem;
  height: 50px;
  overflow: hidden;
}
.news-img img {
  width: auto;
  height: auto;
}

.news-icon img{
  /* padding: 15px; */
  width: 21.64px;
  height: 28.86px;
  cursor: pointer;
}
.news-icon img.dark {
  display: none;
}
.dark-mode .news-icon img {
  display: none;
}
.dark-mode .news-icon img.dark {
  display: block;
}
.news-link{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  /* padding-left: 10px; */
}
.dark-mode .news-link {
  color: #FFFFFF;
}
.create-icon{
  border-radius: 50%;
  border: 1px solid #0d6efd;
  padding: 2px;
}
/* .button-tabs a{
  margin-right: 10px;
} */
.button-tabs{
  margin: auto;
  width: 50%;
}
.filter{
  width: 228px;
  height: 50px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}
.article-img img{
  width: 100px;
  height: 80px;
  border-radius: 10.0513px;
}
.article-title p{
  width: 512px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.article-title span{
  width: 129px;
  height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.article-vews p,.article-reads p,.article-saves p,.article-plays p{
  width: 42px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.article-vews span,.article-reads span,.article-saves span,.article-plays span{
  width: 53px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.article-detail img{
  width: 1280px;
  height: 380px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}
.artical-title{
  width: 407px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.article-date span{
  width: 129px;
  height: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.see-more{
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #407BFF;
  margin: auto;
  width: 100px;
}
.sports .col-lg-6 .text-div{
  width: 550.87px;
  height: 25.4px;
} 
.sports .col-lg-6 .overlay-text{
  position: relative;
  left: 22px;
  bottom: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.politics .col-lg-6 .text-div,.entertainment .col-lg-6 .text-div,.economics .col-lg-6 .text-div{
  width: 550.87px;
  height: 25.4px;
}
.politics .col-lg-6 .overlay-text,.entertainment .col-lg-6 .overlay-text,.economics .col-lg-6 .overlay-text{
  position: relative;
  left: 22px;
  bottom: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.navbar-brand .go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.4rem;
  cursor: pointer;
}

.navbar-brand .go-back img {
  width: 21px;
  height: 13.5px;
}

.navbar-brand .page-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

/*========================== Start: Buttons=============================== */
.btn-primary2 {
  background-color: #407BFF;
  color: #FFFFFF;
  padding: 0.875em 1.5em;
  font-weight: 400;
  font-size: 8px;
  line-height: 20px;
  font-style: normal;
  border-radius: 8px;
}
.dark-mode .btn-primary2 {
  background-color: #5A8EFF;
}
.btn-primary2:hover {
  color: white;
}
.btn-primary2 img, .btn-primary2 i, .btn-outline-primary2 img, .btn-outline-primary2 i {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.btn-outline-primary2 {
  border: 1px solid #407BFF;
  background: rgba(255,255,255,0);
  color: #407BFF;
  padding: 0.875em 1.5em;
  font-weight: 400;
  font-size: 8px;
  line-height: 20px;
  font-style: normal;
  border-radius: 8px;
}

.dark-mode .btn-outline-primary2 {
  border: 1px solid #5A8EFF;
  color: #5A8EFF;
}

.btn-outline-primary2:hover {
  color: #407BFF;
}

.dark-mode .btn-outline-primary2:hover {
  color: #5A8EFF;
}

@media (min-width: 305px) {
  .btn-primary2, .btn-outline-primary2 {
    font-size: 10px;
  }
}

@media (min-width: 386px) {
  .btn-primary2, .btn-outline-primary2 {
    font-size: 12px;
  }
}

@media (min-width: 386px) {
  .btn-primary2, .btn-outline-primary2 {
    font-size: 14px;
  }
}

@media (min-width: 430px) {
  .btn-primary2, .btn-outline-primary2 {
    font-size: 16px;
  }
}
/*===================== End: Buttons============================= */

/*====================== Start: Articles =======================*/
.articles {

}

.article {

}

.article .section {
  margin-right: 1rem;
}

.article .details .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.article .details .date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.article .stats .stat:not(.stat:last-child) {
  margin-right: 1rem;
}

/*====================== End: Articles =======================*/

/* Mobile Responsiveness */
@media (max-width: 767px){
  .search-form{
    width: 355px;
  }
  /* .search-inner-btn {
    left: 11px;
    top: 107px;
  } */
  .navbar-nav .box{
    width: 173px;
    height: 147px;
    margin: 5px;
  }
  .news-img {
    width: 110px;
  }
  .news-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-nav{
    position: fixed;
    z-index: 1;
    bottom: 0;
    list-style: none;
    left: 0;
    background-color: #FEFEFE;
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    overflow-x: auto;
  }
  .dark-mode .mobile-nav {
    background: #0E0E0E;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
  }
  .mobile-nav ul{
    list-style: none;
  }
  .nav-link{
    padding-left: 5px;
  }
  .navbar-light .navbar-toggler{
    border: none;
  }
  .navbar-light .navbar-toggler img{
    height: 28px;
  }
  .button-tabs{
    margin: auto;
    width: 100%;
  }
  .article-title p{
    width: 224px;
    height: 51px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

  }
  .article-img img{
    width: 98px;
    height: 79px;
    left: 20px;
    top: 235px;
    border-radius: 10.0513px;
  }
  .article-title p{
    width: 224px;
    height: 51px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .article-title span{
    width: 129px;
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
  }
  .article-detail img{
    width: 374px;
    height: 187px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
  }
}