.signup-h1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
}
.signup-h2{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.signup-p{
  font-style: normal;
  width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.signup-img{
}
.form-label{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.35);
}
.signup-form .form-control{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.text-divider{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.text-divider span{
  background:#fff; 
  padding:0 10px; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.google-btn{
  padding: 10px;
  box-sizing: border-box;
  width: 374px;
  height: 50px;
  border: 1px solid #407BFF;
  border-radius: 50px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #000000 !important;
}
.google-btn:hover{
  background-color: #FFFFFF;
  color: #000000 !important;
}
.google-icon{
  height: 20px;
}
.signup-btn{
  padding: 12px;
  box-sizing: border-box;
  width: 374px;
  height: 50px;
  border-radius: 50px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}
.button-link{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

}
.button-link a{
  text-decoration: none;
}
.navbar{
  background: #FEFEFE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.search-form{
  width: 521px;
}
.search-inner-btn {
  position: absolute;
  left: 100px;
  top: 43px;
  background: 0 0;
  font-size: 12px;
  border: 0;
  padding-left: 20px;
  padding-right: 13px;
}
.search-field input {
  color: #86898e;
  font-size: 12px;
  height: 40px;
  width: 100%;
  padding-left: 50px;
  border: 0;
  padding-right: 15px;
  border: 0;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.navbar-light{
  background-color: #FEFEFE;
}
.nav-item .nav-link{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.nav-item .nav-link img{
  display: block;
  padding-right: 25px;
  height: 40px;
}
.nav-item .active{
  color: #407BFF;
}
.h1{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.box{
  margin: 15px;
  width: 218.66px;
  height: 181.6px;
  background: #FFFFFF;
  box-shadow: 0px 4.94153px 24.7076px rgba(0, 0, 0, 0.08);
  border-radius: 9.88306px;
}
.news-img{
  padding: 15px;
  height: 100px;
  width: 132px;
}
.news-icon{
  padding: 15px;
  height: 70px;
}
.news-link{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding-left: 10px;
}
/* Mobile Responsiveness */
@media (max-width: 767px){
  .search-form{
    width: 355px;
  }
  .search-inner-btn {
    left: 11px;
    top: 107px;
  }
  .navbar-nav .box{
    width: 173px;
    height: 147px;
    margin: 5px;
  }
  .news-img {
    width: 110px;
  }
  .news-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-nav{
    position: fixed;
    z-index: 1;
    bottom: 0;
    list-style: none;
    left: 0;
    background-color: #FFFFFF;
  }
  .mobile-nav ul{
    list-style: none;
  }
  .nav-link{
    padding-left: 5px;
  }
  .navbar-light .navbar-toggler{
    border: none;
  }
  .navbar-light .navbar-toggler img{
    height: 28px;
  }
}