* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body.dark-mode, .dark-mode .page-wrap {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.signup-page .page-wrap {
  height: 100vh;
}

.dark-mode.signup-page .page-wrap .border-end {
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.signup-h1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
}
.dark-mode .signup-h1 {
  color: #FFFFFF;
}

.signup-h2{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.dark-mode .signup-h2 {
  color: #FFFFFF;
}

.signup-p{
  font-style: normal;
  width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.dark-mode .signup-p {
  color: rgba(255, 255, 255, 0.5);
}

.signup-img-dark{
  display: none;
}
.dark-mode .signup-img-dark {
  display: block;
}
.dark-mode .signup-img {
  display: none;
}

@media (min-width: 576px) {
  .signup-section {
    width: 80%;
    margin: auto;
  }
}

.signup-form {
  margin-bottom: 90px;
}

.signup-form input[type="text"], 
.signup-form input[type="email"], 
.signup-form input[type="password"],
.signup-form select {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  padding: 20px 18px;
}

.signup-form input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
  font-weight: 300;
  line-height: 17.07px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.dark-mode .signup-form input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.form-label{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.dark-mode .form-label {
  color: #FFFFFF;
}
::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.35);
}
.dark-mode ::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.signup-form .form-control{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.dark-mode .signup-form .form-control {
  background: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #FFFFFF;
}

.text-divider{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
  line-height: 0.1em;
  margin: 10px auto 20px;
}
.dark-mode .text-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.text-divider span{
  background:#fff; 
  padding:0 25px; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.dark-mode .text-divider span {
  background-color: #1E1E1E;
  color: rgba(255, 255, 255, 0.5);
}
.google-btn{
  padding: 10px;
  box-sizing: border-box;
  width: 374px;
  height: 50px;
  border: 1px solid #407BFF;
  border-radius: 50px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #000000 !important;
}
.google-btn:hover{
  background-color: #FFFFFF;
  color: #000000 !important;
}
.dark-mode .google-btn {
  color: #FFFFFF !important;
  border: 1px solid #5A8EFF;
}

.dark-mode .google-btn:hover {
  color: #FFFFFF !important;
  background-color: #1E1E1E;
}

.google-icon{
  height: 20px;
}
.signup-btn{
  padding: 12px;
  box-sizing: border-box;
  width: 374px;
  height: 50px;
  border-radius: 50px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}
.dark-mode .signup-btn {
  background: #5A8EFF;
}
.button-link{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

}
.dark-mode .button-link {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode .button-link .text-black {
  color: #FFFFFF !important;
}

.button-link a{
  text-decoration: none;
}
.navbar{
  background: #FEFEFE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.search-form{
  width: 521px;
}
.search-inner-btn {
  position: absolute;
  /* left: 100px;
  top: 43px; */
  background: 0 0;
  font-size: 12px;
  border: 0;
  /* padding-left: 20px;
  padding-right: 13px; */
  padding: 0;
  width: 19px;
  height: 19px;
  left: 10px;
  top: 10px;
}
.search-field input {
  color: #86898e;
  font-size: 12px;
  height: 40px;
  width: 100%;
  padding-left: 50px;
  border: 0;
  padding-right: 15px;
  border: 0;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.dark-mode .search-field input {
  background-color: #0D0D0D;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.dark-mode .search-field input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.navbar-light{
  background-color: #FEFEFE;
}
.dark-mode .navbar {
  background-color: #0E0E0E;
  color: white;
}
.nav-item:not(.nav-item:last-child) {
  margin-right: 2rem;
}
.nav-item .nav-link{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.dark-mode .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.nav-item .nav-link img{
  display: block;
  /* padding-right: 25px; */
  margin: auto;
  height: 26px;
  margin-bottom: 3px;
}
.nav-item .nav-link img.icon-dark {
  display: none;
}
.dark-mode .nav-link img {
  display: none;
}

.dark-mode .nav-link img.icon-dark, .dark-mode .nav-link.active img {
  display: block;
}
.nav-item .active{
  color: #407bff !important;
}
.h1{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.dark-mode .h1 {
  color: #fff;
}
.box{
  /* margin: 15px; */
  width: 218.66px;
  height: 181.6px;
  background: #FFFFFF;
  box-shadow: 0px 4.94153px 24.7076px rgba(0, 0, 0, 0.08);
  border-radius: 9.88306px;
}
.dark-mode .box {
  background: #101010;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0px 4.94153px 24.7076px rgba(0, 0, 0, 0.08);
  color: #fff;
}
.news-img{
  padding: 15px;
  height: 100px;
  width: 132px;
}
.news-icon{
  padding: 15px;
  height: 70px;
}
.dark-mode .news-icon {
  filter: hue-rotate(360deg);
}
.news-link{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding-left: 10px;
}
.dark-mode .news-link {
  color: #FFFFFF;
}
/* Mobile Responsiveness */
@media (max-width: 767px){
  .search-form{
    width: 355px;
  }
  /* .search-inner-btn {
    left: 11px;
    top: 107px;
  } */
  .navbar-nav .box{
    width: 173px;
    height: 147px;
    margin: 5px;
  }
  .news-img {
    width: 110px;
  }
  .news-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-nav{
    position: fixed;
    z-index: 1;
    bottom: 0;
    list-style: none;
    left: 0;
    background-color: #FFFFFF;
  }
  .mobile-nav ul{
    list-style: none;
  }
  .nav-link{
    padding-left: 5px;
  }
  .navbar-light .navbar-toggler{
    border: none;
  }
  .navbar-light .navbar-toggler img{
    height: 28px;
  }
}